/* header.css */

.header {
    position: relative;
    width: 100%;
    z-index: 10; /* Ensure the header is above other content */
}

.logo {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
}

.logo img {
    width: 150px;
}
