/* latest-releases.css */

.latest-releases {
    text-align: center;
    margin: 20px 0;
}

.latest-releases-heading {
    font-size: 2em;
    color: #00ff00; /* Customize this color as needed */
    margin-bottom: 20px;
}

#album-search {
    width: 80%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
}

.album-carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-btn {
    background-color: transparent;
    border: none;
    font-size: 2em;
    color: #00ff00; /* Customize this color as needed */
    cursor: pointer;
    z-index: 1;
}

.album-display {
    overflow: hidden;
    width: 80%;
    display: flex;
    justify-content: center;
}

.album-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.album {
    margin: 0 20px; /* Increased margin for more space */
    position: relative;
}

.album img {
    width: 160px; /* Restored original width */
    height: 160px; /* Restored original height */
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

.album img:hover {
    transform: scale(1.1);
}

.album:hover .overlay {
    display: flex;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 1em;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #000; /* Changed to black */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    color: #fff; /* Added white text color */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
