/* latest-releases.css */

.latest-releases {
    text-align: center;
    margin: 20px 0;
}

.latest-releases-heading {
    font-size: 2em;
    color: #00ff00; /* Customize this color as needed */
    margin-bottom: 20px;
}

#album-search {
    width: 80%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
}

.album-carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-btn {
    background-color: transparent;
    border: none;
    font-size: 2em;
    color: #00ff00; /* Customize this color as needed */
    cursor: pointer;
    z-index: 1;
}

.album-display {
    overflow: hidden;
    width: 80%;
    display: flex;
    justify-content: center;
}

.album-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.album {
    margin: 0 10px;
    position: relative;
}

.album img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

.album img:hover {
    transform: scale(1.1);
}

.album::after {
    content: attr(data-title);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2; /* Ensure tooltip is on top */
}

.album:hover::after {
    opacity: 1;
    bottom: 110%; /* Move tooltip above the album */
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
